line_tracer_training_images
[Forward]training_images_with_noise
[Forward]training_images_with_noise(light)
[Forward]training_images_without_noise
[Forward]training_images_without_noise(light)
[Left]training_images_with_noise
[Left]training_images_with_noise(light)
[Left]training_images_without_noise
[Left]training_images_without_noise(light)
line_tracer_training_images_with_noise
line_tracer_training_images